@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #ed5500;
    --restaurant-primary: #5a0084;

    /* Home widget */
    --home-widget-background: linear-gradient(
      to top right,
      rgba(237, 85, 0, 0.26) 0%,
      rgba(10, 3, 0, 0.26) 100%
    );

    --home-dropdown-background: linear-gradient(
      to top right,
      rgba(237, 85, 0, 1) 0%,
      rgba(255, 76, 0, 0.7) 100%
    );

    --home-widget-border: #fc5b00;
    --restaurant-border: #7800b0;

    /* Searchbar */
    --searchbar-color: #8a7575;

    /* Button for location */
    --location-button-background: linear-gradient(
      to right,
      rgba(0, 136, 235, 0.64) 0%,
      rgba(0, 77, 133, 1) 100%
    );

    --location-button-border: #3787ff;

    /* X icon for address deletion */
    --x-icon-background: #ff0000;

    @apply font-inter text-white;
  }

  header,
  main {
    @apply font-bold p-3 xs:p-5 sm:p-9;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer utilities {
  .container {
    @apply w-full mx-auto;
  }

  .flex-between {
    @apply flex justify-between items-center gap-2;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .bg-img {
    @apply fixed inset-0 w-full h-full -z-10
    object-cover object-center;
  }
}

@layer components {

  .btn {
    @apply disabled:pointer-events-none disabled:opacity-50
    rounded-[47px] font-semibold active:scale-95
    text-[17px] border border-primary-80 transition-all;
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    height: 100dvh;
    overflow-y: auto;
  }

  .hero:has(.home) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("/imgs/home-bg.png");
  }

  .hero:has(.signin, .signup, .reset-password) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/imgs/auth-bg.png");
  }

  .hero:has(.user-orders, .restaurant-user-order, .restaurant-orders) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("/imgs/plate-bg.png");
  }

  .hero:has(.user-profile) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("/imgs/user-profile-bg.png");
  }

  .hero:has(.restaurant-profile) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93)),
      url("/imgs/restaurant-profile-bg.png");
  }

  .home {
    @apply md:pt-0;
  }

  .home__subtitle {
    @apply text-[13px] max-w-[280px] xs:text-[13px] sm:text-[15px] w-full mx-auto
    font-medium mt-2 md:mt-[17px] xs:max-w-[340px] sm:max-w-[430px] leading-6
    group-aria-[roledescription=carousel]:select-none;
  }

  .signin,
  .signup {
    @apply pt-0;

    .container {
      @apply xs:max-w-[430px] sm:max-w-[540px];
    }

    .card {
      @apply primary-widget-bg rounded-[40px] sm:rounded-[69px]
      border border-primary-20 text-center
      p-5 sm:px-[33px] sm:py-[30px] md:px-[50px] md:py-[40px];
    }
  }

  .signup {
    .container {
      @apply max-w-[630px];
    }
  }

  .hero:has(.user-orders) {
    main {
      @apply pt-0;
    }

    main .container {
      @apply max-w-[900px];
    }
  }

  .login-btn {
    @apply px-[30px] h-[40px] text-sm md:px-[32px] md:h-[45px] sm:px-[38px] md:text-[17px];
  }

  .logout-btn {
    @apply m-2 mt-3 gap-3 bg-[#ed00009c]
    border border-[#ed0000cf] rounded-[8px] cursor-pointer
    hover:bg-[#ed0000];
  }

  .home-btn {
    @apply shrink-0 gap-3 flex-center
    bg-home-widget-border-30
    hover:bg-home-widget-border-80
    px-4 py-2 sm:px-6 h-[40px] md:h-[45px];
  }

  .client-nav-btn {
    @apply gap-3 flex-center
    px-4 md:px-6 h-[45px] font-semibold;
  }

  .client-nav-btn.user-btn {
    @apply bg-[#ED0000] bg-opacity-50
    border-[#ed00006f] hover:bg-opacity-80 hover:bg-[#ED0000];
  }

  .client-nav-btn.user-btn.active {
    @apply bg-opacity-90;
  }

  .client-nav-btn.restaurant-btn,
  .restaurant-profile .restaurant-btn {
    @apply bg-restaurant-primary-70 border-restaurant-border
    hover:bg-restaurant-primary;
  }

  .client-nav-btn.restaurant-btn.active {
    @apply bg-[#9400DA] border-transparent;
  }

  .user-btn-bg {
    background: linear-gradient(
      to top right,
      rgba(252, 91, 0, 0.65) 0%,
      rgba(150, 54, 0, 0.2) 100%
    );
    backdrop-filter: blur(33px);
  }

  .user-btn-bg:not(.dropdown):hover {
    background: linear-gradient(
      to top right,
      rgba(252, 91, 0, 1) 0%,
      rgba(150, 54, 0, 0.2) 100%
    );
  }

  .user-btn {
    @apply gap-2 sm:gap-[11px] flex-center
    py-2 px-6 sm:px-8 rounded-[33px]
    border border-primary-80
    outline-none;
  }

  .nav-btn {
    @apply flex-center gap-[10px] py-3 px-5 bg-home-widget-border-50
    rounded-[34px] border border-home-widget-border font-semibold
    hover:bg-home-widget-border-80 transition-all;
  }

  .default-scrollbar::-webkit-scrollbar {
    @apply w-[5px];
  }

  /* Stile per il track (sfondo della scrollbar) */
  .default-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Stile per il thumb (parte scorrevole) */
  .default-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-home-widget-border-90;
  }

  /* Stile per il thumb quando viene attivato al passaggio del mouse */
  .default-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply cursor-pointer bg-home-widget-border-60;
  }

  .home-widget {
    @apply w-full p-5 rounded-[30px] bg-home-widget
    border border-primary-10 backdrop-blur-[123px]
    flex flex-col text-center max-w-[600px] mx-auto;
  }

  .user-widget {
    @apply w-full p-5 rounded-[30px] bg-[#ed000071]
      border border-[#ed00006a] backdrop-blur-[180px]
      flex flex-col items-center text-center;
  }

  .primary-widget-bg {
    @apply bg-home-widget backdrop-blur-[123px];
  }

  .location-dropdown {
    @apply absolute bg-home-dropdown rounded-[16px] w-full
    min-h-[173px] max-h-[240px] z-50
      left-0 top-[120%] backdrop-blur-3xl
      border border-home-widget-border-20 overflow-auto
     has-[.animate-pulse]:space-y-1 opacity-0 isolate;
  }

  /* Stile per la barra di scorrimento */
  .location-dropdown::-webkit-scrollbar {
    width: 5px;
  }

  /* Stile per il track (sfondo della scrollbar) */
  .location-dropdown::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Stile per il thumb (parte scorrevole) */
  .location-dropdown::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-home-widget-border;
  }

  /* Stile per il thumb quando viene attivato al passaggio del mouse */
  .location-dropdown::-webkit-scrollbar-thumb:hover {
    @apply cursor-pointer bg-primary;
  }

  .location-suggest {
    @apply flex items-center gap-[10px] hover:underline
    cursor-pointer rounded-lg my-2 last:mb-0;
  }

  .search-box {
    @apply relative xs:flex w-full self-center md:self-auto md:max-w-none
    items-center justify-between gap-2 bg-searchbar-40 border
    border-white/10 rounded-[12px] p-1;
  }

  .widget-input {
    @apply text-white placeholder:text-white/80 font-medium
    bg-transparent w-full;
  }

  .search-btn {
    @apply bg-primary text-[13px] h-[45px] font-semibold rounded-[9px]
    w-full xs:w-[88px] shrink-0;
  }

  .use-location-btn {
    @apply flex items-center gap-2 bg-location-btn opacity-80 border
    border-location-btn-border-40 rounded-[10px] cursor-pointer
    p-[6px] xs:self-center hover:opacity-100 transition-all;
  }

  .x-icon {
    @apply bg-x-icon-bg-60 border border-x-icon-bg-40
    w-[20px] h-[20px] rounded-full shrink-0
    justify-center items-center cursor-pointer;
  }

  .carousel-btn {
    @apply transition-colors bg-home-widget-border-30 border
    border-home-widget-border-40 hover:bg-home-widget-border-80
    disabled:hidden;
  }

  .food-filter {
    @apply border border-primary-30 w-[80px] h-[80px] rounded-full
    transition-all flex justify-center items-center
    group-hover/food-filter-item:bg-home-widget-border-80;
  }

  .food-filter[aria-disabled="true"] {
    @apply group-hover:bg-home-widget-border-30;
  }

  .signin-form-input {
    @apply border border-primary-90 bg-home-widget-border-10
    rounded-2xl sm:rounded-[22px] px-4 py-[30px] sm:px-[25px] sm:py-[35px] hover:bg-home-widget-border-30
     text-white placeholder:text-white/80 font-medium;
  }

  .signup-form-input {
    @apply border border-primary-90 bg-home-widget-border-10
    rounded-[22px] px-5 py-7 hover:bg-home-widget-border-30
    text-white placeholder:text-white/80 font-medium;
  }

  .restaurant-deliveryinfo {
    @apply px-3 py-[5px] rounded-[30px]
    border flex-center gap-2;
  }

  .restaurant-separator {
    @apply first:before:hidden before:h-[1px] before:w-[110%]
    before:absolute before:-top-4 before:left-1/2 before:-translate-x-1/2
    before:bg-white/10;
  }

  .restaurants__list {
    @apply flex flex-col;
  }

  .restaurant__header {
    @apply bg-home-widget border
    border-primary-20 rounded-[30px] p-4 gap-3
    backdrop-blur-[123px] mt-6 sm:mt-0;
  }

  .restaurant__items__list {
    @apply bg-home-widget backdrop-blur-[123px] rounded-[30px]
    overflow-hidden;
  }

  .restaurant__item {
    @apply sm:flex justify-between relative m-5
    before:-top-[10px];
  }

  .items__list {
    @apply flex flex-col gap-2;
  }

  .item {
    @apply flex-between p-3 bg-x-icon-bg-40
    rounded-[25px];
    align-items: unset;
  }

  .user-widget .expected__time {
    @apply bg-[#004D85] w-fit py-[3px] px-5 rounded-[25px]
    border border-[#00a2ff61] mt-[15px] mb-[9px];
  }

  .user-order__container .order__address {
    @apply bg-[#ed000071] border border-[#ed00006a]
    font-semibold rounded-3xl px-3 xs:px-4 sm:px-6 py-2 backdrop-blur-3xl;
  }

  .active-orders__container,
  .last-order__container {
    @apply max-w-[600px] w-full mx-auto;
  }

  .user-last-order {
    align-items: unset;
  }

  .restaurant-order {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .user-profile,
  .restaurant-profile {
    @apply pt-0;
  }

  .user-profile__header,
  .restaurant-profile__header {
    @apply flex flex-col sm:flex-row gap-4 *:backdrop-blur-3xl;
  }

  .user-profile__body,
  .user-security__body {
    @apply text-left;
    align-items: unset;
  }

  .restaurant-owner__body label,
  .restaurant-security__body label,
  .user-profile__body label,
  .user-security__body label {
    @apply text-sm sm:text-xl font-semibold mt-3 sm:mt-5 mb-3;
  }

  .user-profile__body label[for="cmpAccount"] {
    @apply flex cursor-pointer;
  }

  .user-profile__body input,
  .user-security__body input,
  .restaurant-owner__body input,
  .restaurant-security__body input,
  .restaurant-profile__body input,
  .restaurant-profile__body textarea,
  .cuisine-select__btn,
  .cuisine-select,
  .cuisine-select input,
  .items-select__btn,
  .items-type-select,
  .items-type-select input {
    @apply h-auto bg-[#ED0000] bg-opacity-50 rounded-xl py-3 px-4
    text-sm sm:text-lg font-medium border border-[#FF0000] border-opacity-60
    hover:bg-[#ED0000] hover:bg-opacity-50;
  }

  .restaurant-owner__body input,
  .restaurant-security__body input,
  .restaurant-profile__body input,
  .restaurant-profile__body textarea,
  .cuisine-select__btn,
  .cuisine-select,
  .cuisine-select input,
  .items-select__btn,
  .items-type-select,
  .items-type-select input {
    @apply bg-[#7800B0] bg-opacity-65 hover:bg-[#7800B0] hover:bg-opacity-70
    border-none text-sm sm:text-base font-semibold;
  }

  .restaurant-profile__body,
  .restaurant-owner__body,
  .restaurant-security__body,
  .restaurant-container,
  .restaurant-widget {
    @apply p-4 xs:py-5 xs:px-6 rounded-3xl bg-restaurant-primary-50
    border border-restaurant-primary-90 backdrop-blur-3xl;
  }

  .cuisine-select,
  .items-type-select {
    @apply backdrop-blur-3xl rounded-xl;
  }

  .restaurant-item__table__head {
    @apply hidden md:grid mt-4 mb-3 gap-3;
    grid-template-columns: 1fr 1.3fr 0.5fr 1fr 96.14px;
  }

  .restaurant-item__table__body {
    @apply grid mt-4 mb-3 gap-3;
    grid-template-columns: 1fr auto auto;
  }

  .restaurant-item__info {
    @apply grid gap-3;
    grid-template-columns: 1fr 0.3fr 0.7fr;
  }

  .restaurant-owner__body,
  .restaurant-security__body {
    @apply max-w-[500px] mx-auto;
  }

  .restaurant-container.active-orders {
    @apply max-w-fit min-w-full md:min-w-[700px] mx-auto;
  }

  .restaurant-container.active-orders ul {
    @apply mb-9 mt-4 gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
}
